body{background-image: url('../images/background.jpg');
align-items: center;}

div.container{justify-content: center;
align-items: center;
display:flex;
height: 100vh;}

ul.menu{margin-top: 0%;
    list-style: none;
}

p.background{color: azure;
font-size: 16px;
margin-top: 5%;}

p.a{font-size: 20px;}

b{color: red;}

p.required{font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
margin-right: 25%;
margin-left: 25%;
margin-top: 5%;
color: ghostwhite;
margin-bottom: -8%;}


label { color: white;
margin-top: 5%;
color: white;
font-size: 15px;}

label.required::after{content: " * ";
color:red;}

input{font-size: 14px;
padding: 5px;
border-radius: 20px;}

select{padding: 5px;
font-size: 16px;
border-radius: 20px;}

textarea{padding: 16px;
resize: none;
font-size: 14px;
border-radius: 20px;
}

h1{color: white;
background: none;
position:absolute;
top: 0;
left:50%
}

a.menu-item:hover{color: red;}

a.contact{color:rgb(233, 196, 47);}

a.contact:hover{color: red;}

a.message{color: rgb(238, 204, 69);}

a.message:hover{color: red;}

a.contact-link{color: burlywood;
font-size: 16px;
margin-right: 5%;}

a.contact-link:hover{color: red;}

a.freepik{color: rgb(241, 159, 52);
}

a.freepik:hover{color: red;}



.optional{margin-top: 5%;
margin-bottom: 5%;
width: 25px;}


h1{transform:translateX(-50%);}

input.bottom{ color:white;
text-align: center;
border-color: #557A46;
background-color: #1A5D1A;
padding: 10px 20px;
border: none;
border-radius: 10px;
font-size: 18px;
cursor: pointer;
position:absolute;
left:40%;
transform: translate(-50%);
margin-top: 5%;

}


.contact-container{font-size: 18px;
color: beige;}

input.bottom:hover{background-color: red;}


div.menu-icon{cursor: pointer;}

div.bar{width: 30px;
height: 3px;
background-color: white;
margin: 6px 0;}

div.dropDown-menu{position: fixed;
    display: block;
top: 0;
right: 0;
background-color: lightgray;
padding: 10px;
display: none;
flex-direction: column;}

.dropDown-menu.show{display:block;}

ul{list-style: symbols(✓);}


.content-container{color:rgb(194, 253, 253);
line-height: 1.5;
font-size: 18px;
margin-left: 17%;
margin-right: 18%;
margin-top: 5%;
font-family: Arial, Helvetica, sans-serif;}


